@charset "utf-8";

.errors {
  color: red;
}

.user-edit {
  background-color: #eaeaea;
  padding: 20px;
}

.modal-header-r {
  display: initial;
}

.modal-dialog-r {
  max-width: 750px;
}

.modal-header-a {
  max-width: 950px;
}

.notification {
  color: red;
}